.admin{
    display: flex;
    margin: 30px 10px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: inherit;
    width: 100%;
}

.form{
    display: flex;
    align-items: center;
    background: var(--dark);
    border-radius: 6px;
    padding: 7px 10px;
    column-gap: 16px;
    position: relative;
    margin-bottom: 10px;
}

.add_form{
    @extend .form;
    background: #1a1c38;
}

.form form {
    width: 100%;
}

input[type=text]{
    font-family: Montserrat, Roboto, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: var(--grey);
    background: none;
    outline: none;
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1.5px solid var(--grey);
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.removeBtn{
    background: #b53030;
    &:hover{
        background: #9f5151;
    }
}
