@import "../global.scss";

.admin {
  display: flex;
  margin: 30px 10px;
}

.form {
  display: flex;
  background: var(--dark);
  border-radius: 6px;
  padding: 0px 10px 0px;
  column-gap: 16px;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
}

.add_form {
  @extend .form;
  background: #1a1c38;
}

.form form {
  width: 100%;
}

input {
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--grey);
  background: none;
  outline: none;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1.5px solid var(--grey);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-bottom: 5px;
}

input[type="text"] {
  @extend input;
}

input[type="number"] {
  @extend input;
}

select {
  @extend input;
  padding: 8px 8px;
}

option{
    background: var(--dark);
}

.button{
  @extend button;
  margin: 7px;
}

.remove_button {
  @extend button;
  background: #b53030;
  &:hover {
    background: #9f5151;
  }
}

.add_button{
  @extend button;
  margin: 0px 0px 10px 0px;
  background: green;
  &:hover{
    background: rgb(14, 145, 14);
  }
}

label {
  align-self: baseline;
  margin-top: 15px;
}

img {
  margin-top: 15px;
  width: 100px;
  height: 100px;
  align-self: baseline;
}

input::file-selector-button {
  @extend button;
  width: 30%;
  margin: 0px 10px 0px 0px;
}

input {
  margin-top: 5px;
}

input[type=file] {
  padding: 8px 8px;
}

.login {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 37%;
}

.checkbox {
  width: 25px;
  height: 25px;
  align-self: start;
  margin-top: 10px;
}

.price {
  display: flex;
  column-gap: 10px;
  line-height: 14px;
  flex-wrap: wrap;
  width: 100%;
}

.group {
  margin: 15px 3px 5px;
  font-size: 18px;
  font-weight: 700;
}