:root {
    --bg: #353538;
    --dark: #191919;
    --dark-sea: #78a1c1;
    --grey: #b8b8b8;
    --white: #fff;
    --violet: #5818c1;
    --violet-dark: #4c05c1;
    --light: #f6f6f7;
    --sea: #616e74;
}